body {
    background-color: #F7F7F6;
}

.navbar-custom {
    background-color: #EDA566;
}

.navbar-brand {
    color: #2D3C4D;
    font-weight: 700;
}

.mp-darkblue {
    color: #2D3C4D;
}

.mp-lightblue {
    color: #2f639e;
}

.mp-link {
    color: #116DB4;
    text-decoration: none;
}

.btn-primary {
    background-color: #2D3C4D;
    border-color: #2D3C4D;
}

.btn-primary:hover {
    background-color: #232e3b;
    border-color: #232e3b;
}

.card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 -1px 2px rgba(0, 0, 0, .05);
    border-radius: 4px;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .14);
}

.card-img-top {
    height: 25vh;
    object-fit: cover;
}

.greyed-out {
    color: rgb(141, 141, 141);
}

.small-text {
    font-size: 0.8rem;
}

.listing-user {
    color: green;
    font-weight: bold;
}

.scroll-div {
    overflow: auto;
    display: inline-block;
    width: 100%;
    max-height: 286px;
    padding-right: 2px;
}

.form-inline {
    display: inline-block;
    margin : 0;
    padding: 0;
}

.X-btn {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 100px;
    margin: 0;
    padding: 2;
    color: red;
    font-size: 0.5rem;
    opacity: 0.7;
}