/* Navbar */

.navbar-custom {
    background-color: #EDA566;
}

.navbar-brand {
    color: #2D3C4D;
    font-weight: 700;
}

/* Color palette */
body {
    background-color: #F7F7F6;
}

.mp-primary {
    color: #2D3C4D;
}

.mp-secondary {
    color: #2f639e;
}

.mp-highlight {
    color: green;
    font-weight: 500;
}


.mp-link {
    color: #116DB4;
    text-decoration: none;
}


.btn-primary {
    background-color: #2D3C4D;
    border-color: #2D3C4D;
}


.btn-primary:hover {
    background-color: #232e3b;
    border-color: #232e3b;
}

/* buttons */
.btn {
    width: 100%
}

/* divs */
.mp-container {
    background-color: white;
    border: 1px solid #DEE2E6;
    border-radius: 16px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    word-wrap: break-word;

}

.scroll-div {
    overflow: auto;
    display: inline-block;
    width: 100%;
    max-height: 286px;
    padding-right: 2px;
}

/* Cards */
.card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 -1px 2px rgba(0, 0, 0, .05);
    border-radius: 4px;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .14);
}

.card-img-top {
    height: 25vh;
    object-fit: cover;
}


/* Text properties */

.small-text {
    font-size: 0.8rem;
}

.faded {
    opacity: 0.6;
}




/* forms */
.form-inline {
    display: inline-block;
    margin : 0;
    padding: 0;
}

/* images */
.listing-img {
    width: 100%;
    object-fit: cover;
}


