body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form input {
    display: inline-block;
}

.searchdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logodiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 30px;
}

.searchdiv form {
    text-align: center;
}

.searchdiv input {
    display: block;
}

.searchdiv button {
    display: inline-block;
    height: 40px;
    border-radius: 5px;
    font-size: medium;
    border: none;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
}

.searchdiv button:hover {
    background-color: lightgrey;
}

.searchfield {
    font-size: larger;
    border: 2px solid #DFE1E5;
    border-radius: 20px;
    padding: 5px;
    height: 28px;
    padding-left: 10px;
    width: 80vw;
    max-width: 550px;
}

.searchfield:hover {
    box-shadow: 0 0 8px 1px #c2c2c2;
}

.searchfield:focus {
    box-shadow: 0 0 8px 1px #c2c2c2;
    outline: none;
}

/* Navbar */
.mynavbar {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    padding: 5px;
    display: inline;
}

.nav-item a:link {
    text-decoration: none;
    color: rgb(104, 104, 104);
}

.nav-item a:visited {
    color: rgb(104, 104, 104);
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: none;
    color: rgb(172, 172, 172);
}

.nav-item a:active {
    color: rgb(104, 104, 104);
    text-decoration: none;
}

table td {
    padding-right: 5px;
}

.blue-button {
    background-color: #4889F0;
    border: 1px solid #3079ED;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 590px;
    border-radius: 3px;
    cursor: pointer;
}
.blue-button:hover {
    background-color: #467ace;
}

.small-logo {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 30px;
    display: inline;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    
}

.title {
    color: rgb(224, 37, 37);
    border-bottom: 1px solid lightgray;
    margin-bottom: 50px;
    padding: 50px 50px 25px 35px;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.formdiv {
    padding-left: 50px;
}

.formdiv td {
    height: 30px;
    width: 200px;
}

.formdiv input {
    width: 500px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 3px;
}