{% extends "auctions/layout.html" %}
{% block style %}<style>
    .card-img-top {
        width: 100%;
        min-height: 200px;
        height: 15vw;
        object-fit: cover;
    }
</style>{% endblock %}

{% block body %}
<h2>Active Listings</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4 mb-4">
{% for listing in all_listings %}
    <div class="col">
        <div class="card h-100">
            {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="Listing image" class="card-img-top">
            {% else %}
            <img src="https://lh3.googleusercontent.com/EbXw8rOdYxOGdXEFjgNP8lh-YAuUxwhOAe2jhrz3sgqvPeMac6a6tHvT35V6YMbyNvkZL4R_a2hcYBrtfUhLvhf-N2X3OB9cvH4uMw=w1064-v0"
                alt="Listing image" class="img-fluid">
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ listing.title|truncatechars:50 }}</h5>
                <h5 class="text-primary">€{{ listing.starting_bid|floatformat:2 }}</h5>
                <p class="card-text">{{ listing.description|truncatechars:255}}</p>
                <a href="#" class="btn btn-primary mt-auto">View listing</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}