{% extends "auctions/layout.html" %}
{% block title %}Marktplaats{% endblock %}
{% block style %}<style>
    .card {
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 -1px 2px rgba(0, 0, 0, .05);
        border-radius: 4px;
    }

    .card:hover {
        transform: scale(1.01);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .14);
    }

    .card-img-top {
        height: 25vh;
        object-fit: cover;
    }

    .card-text {
        font-size: 0.8rem;
    }

    /* Listing grid */

    .listing-grid>* {
        width:50%; /* 2 cards*/
        flex: 0 0 auto;
    }

    @media (min-width: 780px) {
        .listing-grid>* {
            width: 33.33%; /* 3 cards*/
            flex: 0 0 auto;
        }
    }
    @media (min-width: 1040px) {
        .listing-grid>* {
            width: 25%; /* 4 cards*/
            flex: 0 0 auto;
        }
    }

    @media (min-width: 1300px) {
        .listing-grid>* {
            width: 20%; /* 5 cards*/
            flex: 0 0 auto;
        }
    }

    @media (min-width: 1560px) {
        .listing-grid>* {
            width: 16.66%; /* 6 cards*/
            flex: 0 0 auto;
        }
    }

    @media (min-width: 1820px) {
        .listing-grid>* {
            width: 14.28%; /* 7 cards*/
            flex: 0 0 auto;
        }
    }

    @media (min-width: 2080px) {
        .listing-grid>* {
            width: 12.5%; /* 8 cards*/
            flex: 0 0 auto;
        }
    }
</style>{% endblock %}

{% block content %}
<!-- Grid for cards -->
<div class="row listing-grid g-2">

    <!-- Card for every listing -->
    {% for listing in all_listings %}
    <div class="col">
        <div class="card h-100">
            {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="Listing image" class="card-img-top mx-auto" onerror="this.src='https://lh3.googleusercontent.com/EbXw8rOdYxOGdXEFjgNP8lh-YAuUxwhOAe2jhrz3sgqvPeMac6a6tHvT35V6YMbyNvkZL4R_a2hcYBrtfUhLvhf-N2X3OB9cvH4uMw=w1064-v0'"></a>
            {% else %}
            <img src="https://lh3.googleusercontent.com/EbXw8rOdYxOGdXEFjgNP8lh-YAuUxwhOAe2jhrz3sgqvPeMac6a6tHvT35V6YMbyNvkZL4R_a2hcYBrtfUhLvhf-N2X3OB9cvH4uMw=w1064-v0"
                alt="Listing image" class="card-img-top mx-auto"></a>
            {% endif %}
            <div class="card-body">
                <a href="#" class="mp-link stretched-link">
                    <h6>{{ listing.title|truncatechars:50 }}</h6>
                </a>
                <h6 class="mp-darkblue">€{{ listing.starting_bid|floatformat:2  }}</h6>
                <p class="card-text">{{ listing.description|truncatechars:100}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}