{% extends "auctions/layout.html" %}
{% block title %}{{ listing.title }}{% endblock %}

{% block style %}<style>
    .container {
        background-color: white;
        max-width: 800px;
    }

    .listing-img {
        width: 100%;
        object-fit: cover;
    }

    h6,
    h5 {
        color: rgb(14, 14, 148);
    }

    .btn-watchlist {
        width: 100%;
    }
</style>{% endblock %}
{% block content %}
<div class="container border rounded-4 shadow-sm p-4" style="word-wrap: break-word;">
    <h3 class="mp-darkblue">{{ listing.title }}</h3>
    <div class="row py-4">
        <!-- Listing image -->
        <div class="col-12 col-sm-8 col-xl-6">{% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="Listing image" class="listing-img"
                onerror="this.src='{{ placeholder_img }}'"></a>
            {% else %}
            <img src="{{ placeholder_img }}" alt="Listing image" class="listing-img"></a>
            {% endif %}
        </div>
        <div class="col-12 col-sm-4 col-xl-4">
            {% if user.is_authenticated %}
            <!-- Watchlist buttons -->
            <div class="row p-2">
                <form action="{% url 'listing' listing.pk %}" method="post">
                    {% csrf_token %}
                    
                        {% if not on_watchlist %}
                        <input class="btn btn-success btn-watchlist" name="add_watchlist" type="submit"
                            value="+ Add to watchlist">
                        {% else %}
                        <input class="btn btn-danger btn-watchlist" name="rm_watchlist" type="submit"
                            value="- Remove from watchlist">
                        {% endif %}
                    
                </form>
            </div>
            {% endif %}
            <!-- Listing info -->
            <div class="row p-2">
                <h5>Highest bid</h5>
                <p style="font-size:1.5rem;">€{{ listing.starting_bid|floatformat:2}}</p>
            </div>

            <div class="row p-2">
                <h6>Sold by</h6>
                <p>{{ listing.user }}</p>
            </div>
            <div class="row p-2">
                <h6>Online since</h6>
                <p>{{ listing.created_at|date:"d F Y" }}</p>
            </div>
        </div>
    </div>

    <!-- Listing description -->
    <div class="row p-2">
        <h6>Description</h6>
        <p>{{ listing.description|linebreaks }}</p>

    </div>
</div>
</div>


{% endblock %}