{% extends "auctions/layout.html" %}
{% block title %}{{ listing.title }}{% endblock %}

{% block style %}<style>
    .container {
        background-color: white;
        max-width: 800px;
    }

    .listing-img {
        width: 100%;
        object-fit: cover;
    }

    .btn {
        width: 100%;
    }

    .bid {
        font-size: 0.8rem;
    }
</style>{% endblock %}
{% block content %}
<div class="row justify-content-center gy-2">
    <!-- Left container -->
    <div class="col-12 col-lg-5">
        <div class="container border rounded-4 shadow-sm px-4 pt-4 pb-0" style="word-wrap: break-word;">
            <h3 class="mp-darkblue">{{ listing.title }}</h3>
            <div class="row pt-4 pb-2">

                <!-- left column -->
                <div class="col-12 col-sm-8 col-xl-6">

                    <!-- Listing image -->
                    {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="Listing image" class="listing-img"
                        onerror="this.src='{{ placeholder_img }}'"></a>
                    {% else %}
                    <img src="{{ placeholder_img }}" alt="Listing image" class="listing-img"></a>
                    {% endif %}
                </div>

                <!-- Right column -->
                <div class="col-12 col-sm-4 col-xl-4">

                    <!-- Watchlist buttons -->
                    {% if user.is_authenticated %}
                    <div class="row pb-4 pt-2 pt-sm-0">
                        <form action="{% url 'listing' listing.pk %}" method="post">
                            {% csrf_token %}

                            {% if not on_watchlist %}
                            <input class="btn btn-success btn-watchlist" name="add_watchlist" type="submit"
                                value="+ Add to watchlist">
                            {% else %}
                            <input class="btn btn-danger btn-watchlist" name="rm_watchlist" type="submit"
                                value="- Remove from watchlist">
                            {% endif %}

                        </form>
                    </div>
                    {% endif %}

                    <!-- Listing info -->
                    <div class="row pt-2 pt-sm-0">
                        <h5 class="mp-lightblue">Current price</h5>
                        <p style="font-size:1.5rem;">€{{ listing.highest_bid|floatformat:2 }}</p>
                    </div>
                    <div class="row">
                        <h6 class="mp-lightblue">Sold by</h6>
                        <p>{{ listing.user }}</p>
                    </div>
                    <div class="row">
                        <h6 class="mp-lightblue">Auctioned since</h6>
                        <p>{{ listing.date|date:"d F Y"}}</p>
                    </div>
                </div>
            </div>

            <!-- Listing description -->
            <div class="row">
                <h6 class="mp-lightblue">Description</h6>
                <p>{{ listing.description|linebreaks }}</p>
            </div>
        </div>
    </div>
    <!-- Right container -->
    <div class="col-12 col-lg-2">
        <div class="container border rounded-4 shadow-sm p-4" style="word-wrap: break-word;">
            <!-- Form to place bid -->
            <h5>Bid</h5>
            <p>
                {% load django_bootstrap5 %}
            <form action="{% url 'listing' listing.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_field form.amount show_label=False addon_before="€"%}
                {% bootstrap_button "Place bid" button_type="submit" button_class="btn-primary" name="place_bid" %}
            </form>
            </p>
            {% if bids %}
                {% for bid in bids %}
                <hr>
                <div class="row bid">
                    <div class="col-6">{{ bid.user|truncatechars:16 }}</div> 
                    <div class="col-6">€{{ bid.amount|floatformat:2 }}</div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}