{% extends "auctions/layout.html" %}
{% block title %}Create listing{% endblock %}

{% block style %}<style>
    .container {
        background-color: white;
        max-width: 800px;
    }

</style>{% endblock %}
{% block content %}

<div class="container border rounded-4 shadow-sm p-4">
    <h3 class="mp-darkblue">{{ listing.title }}</h3>
    <img src="{{ listing.image_url}}">
    <p>{{ listing.description }}</p>
    <p>€{{ listing.starting_bid|floatformat:2 }}</p>
    <p>{{ listing.category }}</p>
    <p>{{ listing.created_at }}</p>
</div>

{% endblock %}