{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block style %}<style>

    /* Listing grid */
    .listing-grid>* {
        width:50%; /* 2 cards*/
        flex: 0 0 auto;
    }

    @media (min-width: 780px) {
        .listing-grid>* {
            width: 33.33%; /* 3 cards*/
            flex: 0 0 auto;
        }
    }
    @media (min-width: 1040px) {
        .listing-grid>* {
            width: 25%; /* 4 cards*/
            flex: 0 0 auto;
        }
    }

    @media (min-width: 1300px) {
        .listing-grid>* {
            width: 20%; /* 5 cards*/
            flex: 0 0 auto;
        }
    }

    @media (min-width: 1560px) {
        .listing-grid>* {
            width: 16.66%; /* 6 cards*/
            flex: 0 0 auto;
        }
    }

    @media (min-width: 1820px) {
        .listing-grid>* {
            width: 14.28%; /* 7 cards*/
            flex: 0 0 auto;
        }
    }

    @media (min-width: 2080px) {
        .listing-grid>* {
            width: 12.5%; /* 8 cards*/
            flex: 0 0 auto;
        }
    }
</style>{% endblock %}

{% block content %}
<h4 class="mp-darkblue">{{ header }}</h4>
{% if not listings %}
<p>There are no listings to be shown.</p>
{% endif %}
<!-- Grid for cards -->
<div class="row listing-grid g-2">

    <!-- Card for every listing -->
    {% for listing in listings %}
    <div class="col">
        <div class="card h-100">
            {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="Listing image" class="card-img-top mx-auto" onerror="this.src='{{ placeholder_img }}'"></a>
            {% else %}
            <img src="{{ placeholder_img }}"
                alt="Listing image" class="card-img-top mx-auto"></a>
            {% endif %}
            <div class="card-body">
                <a href="{% url 'listing' listing.pk %}" class="mp-link stretched-link">
                    <h6>{{ listing.title|truncatechars:50 }}</h6>
                </a>
                <h6 class="mp-darkblue">€{{ listing.highest_bid|floatformat:2 }}</h6>
                <p class="card-text">{{ listing.description|truncatechars:100}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}