{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h2>History</h2>
<table class="center">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Total price</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through the database entries to display them in this table -->
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.symbol }}</td>
            <td>{{ transaction.shares }}</td>
            <td>${{ transaction.cost }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}