{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<h2>Portfolio</h2>
<h4>{{ message }}</h4>
<br>
{% if portfolio|length > 0 %}
<table class="center">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through the database entries to display them in this table -->
        {% for stock in portfolio %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.shares }}</td>
            <td>${{ stock.price }}</td>
            <td>${{ stock.total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">Cash</td>
            <td>${{ cash  }}</td>
        </tr>
        <tr>
            <td colspan="4">TOTAL</td>
            <td>${{ total  }}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}