{% extends "base.html" %}

{% block title %}Mijn projecten{% endblock%}

{% block style %}
<style>
    #mycontainer {
        justify-content: start;
        align-items: center;
        padding-top: 3vh;
    }

</style>
{% endblock %}

{% block content %}
<div id="mycontainer">
    <div class="col-10 col-md-5">
        <h4 class="title text-primary mb-4" style="text-align: center">
            Mijn projecten
        </h4>
        <!-- Displays flashed messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning d-flex mb-4" role="alert">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Shows current user's projects -->
        {% for project in user_projects %}

        <div class="card mt-4">
            <h5 class="card-header">{{ project.title }}</h5>
            <div class="card-body">
                <p class="card-text">{{ project.description }}</p>
                <a href="{{ project.link }}" class="btn btn-outline-primary">Bekijk project</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>





{% endblock %}